#!/bin/bash

# Debconf config script

set -e


# Source debconf library
. /usr/share/debconf/confmodule

if [ "$DPKG_DEBUG" = "developer" ]; then
    set -x
fi
 
##################################################
# Begin installation directories definition block#
##################################################
package_name="musica"
datadir="/var/lib/${package_name}"
filesdir="${datadir}"
backupdir="${datadir}/backups/"
pkgdir="/usr/share/${package_name}"
docdir="/usr/share/doc/${package_name}"
upgradesdir="${docdir}/upgrades"
configdir="/etc/${package_name}"
default_configfile="${configdir}/config.php"
includefile="${configdir}/apache.conf"
################################################
# End installation directories definition block #
################################################

########################################################################
# The actual configuration

OLDVERSION="$2"

db_input "medium" "${package_name}/webserver" || true
db_go || true

db_stop

exit 0
